<div class="data_list">
<table id="data_table" class="tablesorter">
	<thead> 
	<tr> 
	    <th>File</th> 
	    <th>Type</th>  
	</tr> 
	</thead>
	<tbody>
   <% for record in @source.data_records %>
     <tr>
         <% record_options = data_record_options(record) %>
         <td><span class="predicate">
           <%= link_to(record.location, { :controller => 'source_data', :action => 'show', :id => record.id }, record_options.last )%>
         </span></td>
         <td><span class="value">
           <%=  image_tag("demo/#{record_options.first}.png", :alt => record.mime, :title => record.mime) %> (<%= record.mime %>)
         </span></td>
     </tr>
   <% end %>
</tbody>
 </table>
</div>
