<h3 class="toggle closed">Images</h3>
<div class="section images" style='display:none'>
    <div class='section_header'></div>
    <div class='section_content_container'>
        <div class='section_gallery'>
            <ul>
            <%   images.each do |image| %>
                <%  # TODO: crude, find a better way to get talia_file pseudo_id
                    # (I already have all the talia files in memory, I should remember which one of them this belongs to. 
                %>
                <% talia_file = TaliaFile.find(image.source_id) %>
           
                <li>
                    <a href="<%= talia_file.uri.to_s %>" class="flexip-toggle">
                      <%= thctag talia_file.uri.to_s, image_tag(url_for_data_record(image), :alt => image.location, :title => image.location), :title => image.location, :class => 'ImageFragment' %>
                        <%= t "Toggle flexip" %>
                    </a>
                </li>
            <% end %>
            </ul>
        </div>
        <a name="flexip-area"></a>
        <div class='section_content'><div id="flexip"></div></div>
        <div class='section_notes'></div>
    </div>
    <div class='section_footer'></div>
</div>
