<script type="text/javascript">
$(document).ready(function() {
  $("#properties_table").tablesorter();
  $("#data_table").tablesorter();
  $(".properties_list").hide();
  $(".show_properties").click(function() {$(".properties_list").slideToggle(600);});
});
</script>

<div class="back"><%= index_link %></div>
<br />
<%= type_images_medium(@source.types) %>
<h2>
<%= title_for(@source) %>
</h2>
<h5><a href="#" class="show_properties">Show/Hide Source Properties ...</a></h5>
<%= render(:partial => 'property_list') %>
<br />
