<div class='widget'>
<% 
        if !(coordinates = @source[N::DEMO.coordinates].first).nil? 
            lat = coordinates.split(',').first
            lng = coordinates.split(',').last
%>

    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Map</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent expanded'>
        <script type="text/javascript">
            (function() {
                var lat = '<%= lat %>',
                    lng = '<%= lng %>',
                    myLatlng = new google.maps.LatLng(lat, lng),
                    myOptions = {
                        zoom: 4,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.HYBRID
                    };
                var map = new google.maps.Map($(".map_canvas:last")[0], myOptions);
                var marker = new google.maps.Marker({
                    position: myLatlng, 
                    map: map
                });
            })();
            // TODO: boxview should call some GMaps resize event on resize
            // im afraid this has to be moved in some proper javascript function
            // that tracks the map object and the id of the box to call resize on .. 
            // or use some [about] attribute to access it ... 
        </script>
        <div class="map_canvas resizeme"></div>
    </div>

<% end %>


<% if !@source[N::DCNS.description].empty? %>
    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Description</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent expanded'>
        <%= @source[N::DCNS.description].first %>
    </div>
<% end %>

</div>