
    <div class="intro">

      <h4>Talia | Demo</h4>
      <h5>a boxed navigation</h5>
      <div>
      <p>This view demonstrates a possible way of displaing contents in your website
      </p>
      <p>
      On the left side you will find a menu which will let you access all the sources in the catalog.
      Feel free to play with them :)
      </p>
      </div>
    </div>
