<div class='widget'>


  <div class='widgetHeader metadata'>
    <h3 class='widgetHeaderTitle'>Description</h3>
    <div class='widgetHeaderTools'>
      <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>

      <% related_book = @source.inverse[N::DEMO.has_transcription].first %>
      <% unless related_book.nil? %>
        <p class="anastatica">
          <a class="resource anas" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(related_book.to_uri.to_s) %>&type=source" title="Manuscript">Manuscript</a>
        </p>
        <% end %>

    </div>
  </div>
  <div class='widgetContent expanded metadata'>
    <p><%= @source[N::DCNS.description].first %></p>
  </div>

  <%= render :partial => 'data' %>

</div>







