/* ***************** ************** ************** */
/* ***************** TAG GENERICI ************** */
/* ***************** ************** ************** */

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
	color: #333;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 0.8125em;
	background-color: #eeebe5;
	background: #ddd0c4;
	line-height: 18px;
}

/* DEFINIZIONE TAG */

a {
	color: #3d4e86;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #3d4e86;
	text-decoration: underline;
	background-color: transparent;
}

a img {
	border: 0px none;
}

h1 {
	font-size: 26px;
	margin-bottom: 15px;
	color: #493e35;
}

h2 {
	font-size: 24px;
	margin-bottom: 15px;
	color: #716256;
}

h3 {
	font-size: 18px;
	margin-bottom: 11px;
	color: #493e35;
}

h3.toggle {
	cursor: pointer;
	display: block;
	padding-left: 22px;
	background: url(img/icon_opened.gif) top left no-repeat;
}
h3.toggle.closed {
	cursor: pointer;
	background: url(img/icon_closed.gif) top left no-repeat;
}

p {
	color: #333333;
	font-size: 13px;
	line-height: 1.9em;
	/*font-size: 0.9em;*/
	margin-bottom: 5px;

}

td {
	padding-right: 3ex;
}

/* DEFINIZIONE TAG */

/* Taglist */

div.tags {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding: 0.3em;
	background-color: #F1F1F1;
	line-height: 1.5em;
}

span.tag {
	background-color: #C0C0C0;
	margin: 5px;
}

span.tag_selected {
	background-color: #A0A0E0;
	margin: 5px;
}

/* ***************** ************** ************** */
/* ***************** CLASSI RICORRENTI ************** */
/* ***************** ************** ************** */

.hidden {
	display: none;
}

.floatClear {
	clear: both;
}

/* ***************** ************** ************** */
/* ***************** HEADER ************** */
/* ***************** ************** ************** */

#pageHeader {
	background-color: #473e36;
	height: 101px;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #493e35 url(img/title_bar_bg.gif) bottom left repeat-x;
	border-bottom: 1px solid white;
}
	#pageHeader h1 {
		display: block;
		position: absolute;
		left: 12px;
		top: 18px;
		width: 351px;
		height: 28px;
	}
	#pageHeader h1 a {
		width: 351px;
		height: 28px;
		display: block;
		text-indent: -9999px;
		background: url(img/title_bar_titolo_1.gif) top left no-repeat;
		background-position: 0 0;
	}
	
	#pageHeader h1 a:hover {
		background-position: 0 -28px;
	}
	
	#pageHeader p {
		margin: 0;
		padding: 0;
		color: #9BD7FF;
		display: block;
		position: absolute;
		left: 12px;
		top: 39px;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-size: 22px;
		font-weight: normal;
	}

	/*
	Header Preferences 
	Box in alto a destra nella testata
	che contiene le icone dei vari strumenti
	di settaggio delle preferenze
	*/
	#pageHeader #header_preferences {
		position: absolute;
		height: 33px;
		margin: 0;
		padding: 0 7px 0 0; 
		top: 35px;
		right: 20px;
	}
		#pageHeader #header_preferences ul {
				height: 33px; margin: 0; padding: 0;
				list-style: none;
				/* overflow: hidden; */
			}
			
				#pageHeader #header_preferences ul li {
					height: 33px; margin: 0;
					padding: 9px 10px; 
					float: left;
					/* overflow: hidden; */
					background: url(images/preferences/preferences_separator.gif) top right no-repeat;
				}
				
				#pageHeader #header_preferences ul li.last {
					background: none;
				}
				
				#pageHeader #header_preferences ul li a {
					/* text-indent: -9999px; */
					display: block;
					padding: 3px 0 0 3px;
					width: 16px;
					height: 16px;
					font-size: 11px;
					font-weight: bold;
					color: #FFF;
				}
				
				#pageHeader #header_preferences ul li a:hover {
				}


/* ***************** ************** ************** */
/* ***************** STRUTTURALI ************** */
/* ***************** ************** ************** */

#contents {
	padding: 25px;
	margin-bottom: 0px;
	background-color: #eeebe5;
}

div.full_width {
	width: 100%;
	border-bottom: 2px solid #ddd0c4;
	margin: 0 0 15px 0;
}

div.left_column {
	width: 50%;
	padding: 0px;
	float: left;
}

div.right_column {
	width: 50%;
	padding: 0px;
	float: right;
}


/* ***************** ************** ************** */
/* ***************** FOOTER ************** */
/* ***************** ************** ************** */
.closebar {
	display: none;
	/* background: transparent url(/images/core/contents_bottom_left.gif) top left repeat-x; */
}
.clear {
	clear: both;
}

#footer {
	background: #ddd0c4 url(img/footer_bg.gif) top left repeat-x;
	color: #605040;
	padding: 30px 0 25px 0;
	/*border-top-width:6px ;*/
	clear: both;
	float: left;
	font-size: 14px;
	width: 100%;
}

#footer p {
	color: #605040;
	margin-bottom: 0;
	padding-bottom: 0;
}
#footer .footer_left {
	width: 46%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}
#footer .footer_right {
	width: 46%;
	float: right;
	margin-left: 2%;
	margin-right: 2%;
}

#footer p small{
	font-size: 11px;
}

#footer ul {
	float: left;
	width: 30%;
	margin-left:30px;
	padding: 0px;
	list-style-type: none;
}

#footer li {
	padding: 8px 5px;
		background: url(/images/demo/dot.gif) repeat-x bottom;
	
}

.muruca_sticker {
	display: block;
	text-indent: -9999px;
	width: 81px;
	height: 46px;
	background: url(img/footer_logo_muruca.jpg) top left no-repeat;
	margin: 15px 0 5px 0;
}

.talia_sticker {
	width: 110px;
	height: 46px;
	display: block;
	text-indent: -9999px;
	background: url(img/footer_logo_talia.jpg) top left no-repeat;
}

#footer #col {
	float: right;
	width: 60%;
	margin-top: 10px;
}

#footer #col p{

}

#footer #stickers {
	margin: 15px 0 5px 0;
	display: block;
}


/* ***************** ************** ************** */
/* ***************** Specifiche Home ************** */
/* ***************** ************** ************** */
#home_map, #home_filter {
	margin-bottom: 30px;
}

.full_width p {
	line-height: 18px;
	color: #716c67;
}


.full_width #home_filter {
	margin: 15px 0;
}

.full_width #home_filter #select-container {
	margin: 15px 0;
}

.full_width #home_filter a {
	text-transform: uppercase;
}



/* ***************** ************** ************** */
/* ********** Elementi Homepage Left Column ****** */
/* ***************** ************** ************** */

.left_column .sources_list {
	padding-right: 15px;
}

.left_column .sources_list h1 {
	margin-top: 15px;
	}

.left_column .sources_list ul {
	width: 100%;
	list-style: none;
}

.left_column .sources_list ul li {
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	padding-bottom: 0;
	float: left;
}

.left_column .sources_list ul li p {
	float: left;
	width: 100%;
	background: #f9f9f9;
	margin: 0;
	padding: 0
}

.left_column .sources_list ul li p .source_type {
	display: block;
	float: left;
	width: 10%;
	padding: 6px 1%;


/*background:#f8f8f8 url(img/type.png) repeat-x bottom;*/


/*border-bottom: 1px solid #ccc;*/
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 8%
}

.left_column .sources_list ul li p .source_title {
	display: block;
	float: left;
	width: 45%;
	font-size: 12px;
	background: #f2f2f2;
	font-weight: bold;
	padding: 6px 1%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 43%
}

.left_column .sources_list ul li p .source-data {
	display: block;
	float: left;
	width: 35%;
	padding: 7px 1% 7px 1%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 33%
}

.left_column .sources_list ul li p .more {
	width: 10%;
	float: left;
	padding: 6px 0;
	font-size: 12px;
	background: url(img/arrow.png) no-repeat right;
	display: block;
}

.left_column .sources_list ul li p .more a {
	color: #999;
}


/* ***************** ************** ************** */
/* ********** Elementi Pagina Source ************* */
/* ***************** ************** ************** */
#contents .source_icon {
	margin-bottom: 5px;
}

#contents .source_icon a, #contents .source_icon a img {
	margin: 0; padding: 0;
}



/* Styles for the Person template*/

div#tl {
	margin-bottom: 30px;
	/* margin-top: 30px; */
}

.properties_list ul {
	width: 100%;
	list-style: none;
}

.properties_list ul li {
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	padding-bottom: 0;
	float: left;
}

.properties_list ul li p {
	float: left;
	width: 100%;
	background: #f9f9f9;
	margin: 0;
	padding: 0
}

.properties_list ul li p .predicate {
	display: block;
	float: left;
	width: 10%;
	padding: 6px 1%;


/*background:#f8f8f8 url(img/type.png) repeat-x bottom;*/


/*border-bottom: 1px solid #ccc;*/
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 8%
}

.properties_list ul li p .value {
	display: block;
	float: left;
	width: 45%;
	font-size: 12px;
	background: #f2f2f2;
	font-weight: bold;
	padding: 6px 1%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 43%
}

.person hr {
	margin-top: 30px;
}

/* New sections layout */
div.section {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
}

div.section div.section_header.gallery {
  background: #c7beb4;
}
div.section div.section_header.gallery li {
  /* display: inline; */
}

div.section div.section_content_container div.section_notes {
  /* display: none; */
}
div.section.annotated div.section_content_container div {
  /*
  position: relative;
  float: left;
  */
}
div.section.annotated div.section_content {
  /*
  border: 0px;
  width: 100%;
  */
}
div.section.annotated div.section_content_container {
  /* padding-right: 300px; */
}
div.section.annotated div.section_content_container div.section_notes {
  margin-right: -300px;
  width: 300px;
  background: #65584c;
  display: block;
}
div.section.annotated div.section_content_container div.section_notes div.THCNoteItem {
 width: 280px;	
}
div.section.annotated div.section_footer {
  /* clear: both; */
}



.section.images {
	width: 100%;
	float: left;
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
}
/* GALLERY */
.section.images .section_gallery {
	width: 100%;
	margin: 0; padding: 0;
	clear: both;
	overflow: hidden;
}
	.section.images .section.images .section_gallery ul {
		list-style: none;
		margin: 0; padding: 0;
		clear: both;
		overflow: hidden;
	}
	
	.section.images .section_gallery ul li{
		float: left;
		margin: 0; padding: 0;
		background: none;
	}
	
	.section.images .section_gallery ul li a {
		margin: 0; padding: 0;
		background: none;
	}
	
	.section.images .section_gallery ul li a div {
		margin: 0; padding: 0;
		background: none;
	}
	
	.section.images .section_gallery ul li a div img{
		width: auto;
		height : 80px;
		padding: 3px;
		background-color: #FFF;
		border: 1px solid #c2c2c2;
		margin: 0 10px 0 0;
	}
	.section.images .section_gallery ul li a span.translation_missing{
		display: none;
	}
	
	
/* FLASH */
.section.images .section_content {
	width: 60%;
	/* height: 300px !important; */
	float: left;
	padding: 3px;
	background-color: #FFF;
	border: 1px solid #c2c2c2 !important;
	margin: 0 20px 0 0;
}
	.section.images .section_content #flexip-loaded {
		height: 300px !important;
		width: 100%;
		/*
		width: 600px !important;
		*/
	}
	
/* NOTE */
.section.images .section_notes {
	width: 30%;
	float: left;
}




div.images .section_content {
/*
	padding: 3px;
	background-color: #FFF;
	border: 1px solid #c2c2c2 !important;
	height: 300px !important;
	width: 600px !important;
*/
}






/* ***************** ************** ************** */
/* ***************** Pagination - barbz demo ************** */
/* ***************** ************** ************** */

.pagination {
	padding: 3px;
	margin: 3px;
}

.pagination a {
	padding: 3px 5px 2px 5px;
	margin: 2px;
	/* border: 1px solid #515151; */
	background: #9bd7ff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #605040;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pagination a:hover, .pagination a:active {
	/* border: 1px solid #515151; */
	color: #000;
	color: #9bd7ff;
	background: #605040;
}

.pagination span.current {
	padding: 4px 5px 1px 5px;
	margin: 2px;
	border: 2px solid #605040;
	font-size: 14px;
	font-weight: bold;
	background-color: #605040;
	color: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pagination span.disabled {
	display: none;
	padding: 3px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #eee;
	color: #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* ***************** ************** ************** */
/* ***************** Random Stuff ************** */
/* ***************** ************** ************** */

.THCContent
{
	padding-top: 5px;
	/* border-top: 2px solid #ccc; */
}

.THCContent ul
{
	list-style-position: inside;
	margin-bottom: 5px;
}


/* keeps the filter by type select on top of the timeline*/

#class-menu {
	z-index: 100;
}

/* spaces the images in the sources default template */

.source_images img {
	margin: 2px;
}

/* hover effect on the images in the sources default template */

.source_images img:hover {
	border: 2px solid #515151;
}

/* spaces the images in the sources default template */


/* Timeline in Homepage */
#tl {
	width: 100%;
	height: 300px;
	border: 5px solid #CDCDCD;
}

/* Mappa google in Homepage */
#map_canvas {
	width: 200px;
	height: 200px;
	border: 5px solid #CDCDCD;
}



.rdfa_hidden {
    display: none;
}