/* tables */
table.tablesorter {
	margin:0 0pt 15px;
	font-size: 12px;
	width: 50%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #a19284;
	height: 25px;
	line-height: 25px;
	/* border: 1px solid #FFF; */
	font-size: 14px;
	padding: 4px;
	color: #9bd7ff;
}
table.tablesorter thead tr .header {
	background-image: url(/images/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#e7e0d8;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #49423c;
}


/* New sections layout */
div.section {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
}

div.section div.section_header.gallery {
  background: #666;
}
div.section div.section_header.gallery li {
  display: inline;
}

div.section div.section_content_container div.section_notes {
  display: none;
}
div.section.annotated div.section_content_container div {
  position: relative;
  float: left;
}
div.section.annotated div.section_content {
  border: 0px;
  width: 100%;
}
div.section.annotated div.section_content_container {
  padding-right: 300px;
}
div.section.annotated div.section_content_container div.section_notes {
  margin-right: -300px;
  width: 300px;
  background: #666;
  display: block;
}
div.section.annotated div.section_content_container div.section_notes div.THCNoteItem {
  width: 280px;
}
div.section.annotated div.section_footer {
  clear: both;
}


/* Annotation Dialog */
div#annotations_dialog {
  position: absolute;
  right: 50px;
  top: 180px;
  -webkit-transform: rotate(20deg); 
  -moz-transform: rotate(20deg);
  padding: 10px;
  background: #fc0;
  border: 2px solid #fc3;
  color: black;
  font-size: 1.2em;
  border-radius: 9px;
  moz-border-radius: 9px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
div#annotations_dialog span#annotations_number {
  color: red;
  font-size: 2em;
}
div#annotations_dialog span#load_annotations {
  margin: 10px;
  font-size: 1.2em;
  display: block;
  color: red;
}
div#annotations_dialog span#load_annotations:hover {
  color: black;
  text-transform: underline;
  cursor: pointer;
}

h3.page_annotations.hidden {
  display: none;
}

div#annotations_dialog.loading span#load_annotations {
  display: none;
}
div#annotations_dialog.loading span#annotations_loading {
  display: block;
}
div#annotations_dialog span#annotations_loading {
  display: none;
}
