div.eztipContainer {
	position: absolute;
	padding: 10px 0;
	z-index: 1000;
}
div.eztipContainer div { position: relative; float: left; }
div.eztipContainer div.eztipLeft { clear: both; }
div.eztipContainer .eztipContent {
    padding: 8px 8px 6px 8px;
    background: url(ez/ez_bg.png) top left repeat;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #FFF;
    width: 200px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 12px;
	line-height: 20px;
}


div.eztipContainer.bottomleft{
	background: url(ez/ez_bottomLeft_stem.png);
	background-position: 5px bottom;
	background-repeat: no-repeat;
}

div.eztipContainer.bottomright {
	background: url(ez/ez_bottomRight_stem.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

div.eztipContainer.topleft {
	background: url(ez/ez_topLeft_stem.png);
	background-position: 5px top;
	background-repeat: no-repeat;
}

div.eztipContainer.topright {
	background: url(ez/ez_topRight_stem.png);
	background-position: right top;
	background-repeat: no-repeat;
}