/*

Ultima modifica
Giulio Andreini 23 Giugno 2010

*/

* { padding: 0px; margin: 0px; border: 0; font-family: sans-serif; font-size: 10pt;}

/*
******************************************
Tags definitions
******************************************
*/
html, body {
	border:0 none;
	height:100%;
	margin:0;
	padding:0;
	text-align:justify;
	width:100%;
}

a, a:active {
	outline: none;
}

a {
}
a:hover {
}

/*
******************************************
Page Sections
******************************************
*/
#pageExt {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	text-align:left;
	top:0;
	width:100%;
}

#pageContent {
	position: absolute;
	margin: 0; padding: 0; border: 0;
	right: 0px;
	top: 102px;
	left: 217px;
	overflow: hidden;
}

/*
******************************************
Header
******************************************
*/
#pageHeader {
	height: 101px;
	margin: 0 0 0;
	width: 100%;
}
	#pageHeader h1 {
		display: block;
		width: 542px;
		height: 101px;
		margin: 0;
		padding: 0;
		text-indent: -9999px;
		position: absolute;
		left: 0;
	}
	
	#pageHeader p {
		display: none;
	}
	
	/*
	Header Preferences 
	Box in alto a destra nella testata
	che contiene le icone dei vari strumenti
	di settaggio delle preferenze
	*/
	#pageHeader #header_preferences_wrapper {
		position: absolute;
		height: 33px; margin: 0; padding: 0 7px 0 0; 
		top: 35px;
		right: 20px;
	}
		#pageHeader #header_preferences_wrapper #header_preferences {
			height: 33px; margin: 0; padding: 0 0 0 7px; 
		}
		
			#pageHeader #header_preferences_wrapper #header_preferences ul {
				height: 33px; margin: 0; padding: 0; 
				overflow: hidden;
			}
			
				#pageHeader #header_preferences_wrapper #header_preferences ul li {
					height: 33px; margin: 0; padding: 9px 10px; 
					float: left;
					overflow: hidden;
				}
				#pageHeader #header_preferences_wrapper #header_preferences ul li.last {
					background: none;
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a {
					text-indent: -9999px;
					display: block;
					width: 16px;
					height: 16px;
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a:hover {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#helpButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#undoButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#introButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a.inactive#undoButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#prefButton {
				}
				
				

/*
******************************************
Menu
******************************************
*/
div#menu_container {
	width: 216px;
	margin: 0; padding: 0; border: 0;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
}

	div#menu_container ul {
		list-style-type: none;
	}
	div#menu_container h3 {
		margin: 0;
		width: 186px;
		padding: 0 20px 0 10px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}

	/* Primo livello */
	div#menu_container ul li {
		width: 215px;
	}
		div#menu_container ul li a{
			margin: 0;
			padding: 7px 7px 7px 27px;
			display: block;
			font-size: 12px;
		}
		div#menu_container ul li a:hover {
		}
		
	/* Secondo livello */
	div#menu_container ul li ul {
	}
	
	div#menu_container ul li ul li {
		border-bottom: 0;
		margin: 0;
	}
		div#menu_container ul li ul li a{
			margin: 0;
			padding: 7px 7px 7px 32px;
			font-size: 11px;
		}
			
	div#menu_container ul li a.menu.collapsed{
		/*
		margin-left: 7px;
		padding-left: 20px;
		*/
	}
	div#menu_container ul li a.menu.expanded {
		/*
		margin: 0;
		margin-left: 7px;
		padding-left: 20px;
		*/
	}
	
	/* Input e label contesti */
	div#menu_container ul li div.context{
		padding: 7px 7px 7px 10px;
	}
	div#menu_container ul li div.context input{
		padding: 7px 7px 7px 10px;
		font-size: 12px;
	}
	div#menu_container ul li div.context label{
		padding: 7px 7px 7px 10px;
		font-size: 12px;
	}
	div#menu_container ul li a#menu_update {
		font-size: 11px;
	}
	div#menu_container ul li a#menu_update:hover {
	}

/*
******************************************
Load dialog
******************************************
*/
#loadingDialog {
	position: absolute;
	padding: 0 30px 0 60px;
	height: 33px;
	right: 335px;
	top: 35px;
	z-index: 10;
	line-height: 33px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#loadingDialog img {
	position: absolute;
	top: 8px;
	left:  30px;
}


/*
******************************************
BoxView and boxes
******************************************
*/
.boxViewContainer {
}
.boxViewContainer .box {
	border: 0;
	position: absolute;
	padding: 0;
	margin: 0;
}

.boxViewContainer .box .boxContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.boxViewContainer div.box.yellow {
}

/* Expanded BOX */
.boxViewContainer div.box.expanded div.boxHeader {
	position: relative;
	height: 30px;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}

.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.boxTool {
	display: block;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.boxTool:hover {
	cursor: pointer;
}

/* Icone Header Box*/
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.collapseTool{
	background: transparent url(images/boxes/box_bar_expanded.png) center left no-repeat;
	cursor: pointer;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.collapseTool{
	background: transparent url(images/boxes/box_bar_collapsed.png) center left no-repeat;
	cursor: pointer;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.removeTool{
	background: transparent url(images/boxes/box_bar_close.png) center left no-repeat;
	cursor: pointer;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.removeTool{
	background: transparent url(images/boxes/box_bar_close.png) center left no-repeat;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.collapseTool:hover{
	background: transparent url(images/boxes/box_bar_expanded_ro.png) center left no-repeat;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.collapseTool:hover{
	background: transparent url(images/boxes/box_bar_collapsed_ro.png) center left no-repeat;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.removeTool:hover{
	background: transparent url(images/boxes/box_bar_close_ro.png) center left no-repeat;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.removeTool:hover{
	background: transparent url(images/boxes/box_bar_close_ro.png) center left no-repeat;
}

/* Intro */
.boxViewContainer div.box.intro div.boxHeader, .boxViewContainer div.box.intro.collapsed, .boxViewContainer div.box.collapsed.intro div.boxCollapsedContent {
}
.boxViewContainer div.box.expanded.intro div.boxContent {
	padding: 0 20px;
}

/* Edition */
.boxViewContainer div.box.edition div.boxHeader, .boxViewContainer div.box.edition.collapsed, .boxViewContainer div.box.collapsed.edition div.boxCollapsedContent {
}
.boxViewContainer div.box.expanded.edition div.boxContent {
	padding: 0 20px;
}

.boxViewContainer div.box.expanded.edition div.boxContent ul.edition {
	margin-top: 15px;
	list-style: none;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.boxViewContainer div.box.expanded.edition div.boxContent ul.edition:last-child {
	border-bottom: 0;
}

.boxViewContainer div.box.expanded.edition div.boxContent ul.edition li {
	margin-bottom: 8px;
}


/* Index */
.boxViewContainer div.box.index div.boxHeader, .boxViewContainer div.box.index.collapsed, .boxViewContainer div.box.collapsed.index div.boxCollapsedContent {
}

/* Trascription */
.boxViewContainer div.box.transcription div.boxHeader, .boxViewContainer div.box.transcription.collapsed, .boxViewContainer div.box.collapsed.transcription div.boxCollapsedContent {
}

/* Anastatica */
.boxViewContainer div.box.facsimile div.boxHeader, .boxViewContainer div.box.facsimile.collapsed, .boxViewContainer div.box.collapsed.facsimile div.boxCollapsedContent {
}

/* Immagine */
.boxViewContainer div.box.imageInfo div.boxHeader, .boxViewContainer div.box.imageInfo.collapsed, .boxViewContainer div.box.collapsed.imageInfo div.boxCollapsedContent {
}

/* Quotation box, schede riscritture */
.boxViewContainer div.box.quotation div.boxHeader, .boxViewContainer div.box.quotation.collapsed, .boxViewContainer div.box.collapsed.quotation div.boxCollapsedContent {
}


	.boxViewContainer div.box.expanded div.boxHeader h3.boxHeaderTitle{
		display: block;
		line-height: 30px;
		padding: 0 25px 0 32px;
	}
	.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools {
		position: absolute;
		width: 100%;
		height: 30px;
		top:0;
		left:0;
	}
	.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.collapseTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		left: 7px;
		top: 7px;
		text-indent: -9999px;
	}
	.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.removeTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		right:7px;
		top: 7px;
		text-indent: -9999px;
	}

    /* Icona Bookmark in box expanded */
    .boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.bookmarkTool {
		position: absolute;
		display: block;
		width: 20px;
		height: 30px;
		right: 25px;
		top: 0px;
		text-indent: -9999px;
	}
	
	/* Icona Bookmark in box collapsed */
	.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.bookmarkTool {
		position: absolute;
		display: block;
		width: 20px;
		height: 30px;
		left: 4px;
		top: 45px;
		text-indent: -9999px;
	}
	
	/* Definizione delle icone per entrambe i casi */
	.boxViewContainer div.box div.boxHeader div.boxHeaderTools p.bookmarkTool.bookmark_button_mine {
        background: url(images/widget/widget_icon_notebook_active.png) center center no-repeat;
    }
	.boxViewContainer div.box div.boxHeader div.boxHeaderTools p.bookmarkTool.bookmark_button_none {
        background: url(images/widget/widget_icon_notebook_inactive.png) center center no-repeat;
    }
	.boxViewContainer div.box div.boxHeader div.boxHeaderTools p.bookmarkTool.bookmark_button_others {
        background: url(images/widget/widget_icon_notebook_active.png) center center no-repeat;
    }
	
	/*
	25/08/2010 bookmark dialog SIMONE: per qualche motivo lo style da jquery-ui viene sovrascritto 
    */
    div.newbm_form li.bm_new_nb_form, div.editbm_form li.bm_new_nb_form { display: none; }
    #bookmarkDialog button span { display: table-cell; margin-right: 5px; }
    
    #bookmarkDialog .validation_error, 
    #notebookDialog .validation_error,
    #signupDialog .validation_error { border: 2px solid #fc0; background: red; padding: 5px; }


/* Loading BOX - Opacita' per box in fase di caricamento */ 
.boxViewContainer div.box.transcription.expanded.loadingContent div.boxContent, .boxViewContainer div.box.facsimile.expanded.loadingContent div.boxContent, .boxViewContainer div.box.index.expanded.loadingContent div.boxContent { 
}
	
	

/* Collapsed BOX */
.boxViewContainer div.box.collapsed {
	width: 30px;
}

.boxViewContainer div.box.collapsed div.boxHeader {
	position: relative;
	width: 30px;
	height: 50px;
	border-bottom: 0;
}

.boxViewContainer div.box.collapsed div.boxCollapsedContent {
	position: relative;
}

/* Testo del box header quando  collassato */
.boxViewContainer div.box.collapsed div.boxCollapsedContent .flashcontainer{
	display: block;
	white-space: nowrap;
	
	/* Rotation */
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	
	position: absolute;
	overflow: hidden;
	bottom: 2px;
	left:7px;
}

.boxViewContainer div.box.collapsed div.boxCollapsedContent .dragOverlay {
    width: 30px; 
    z-index: 10000; 
    position: absolute; 
    left:0px;
}

	.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.collapseTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		left: 7px;
		top: 7px;
		text-indent: -9999px;
	}
	.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.removeTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		left: 7px;
		top: 30px;
		text-indent: -9999px;
	}
	.boxViewContainer div.box.collapsed div.boxHeader h3.boxHeaderTitle{
		display: none;
	}


/*
******************************************
Widget
******************************************
*/
.boxViewContainer div.box div.boxContent div.widget {
}
	.boxViewContainer div.box div.boxContent div.widget div.widgetHeader {
		position: relative;
		height: 26px;
		border-bottom: 1px solid #FFF;
	}
	
	.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools{
		position: absolute;
		width: 100%;
		height: 26px;
		top:0;
		left:0;
	}
		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p {
			float: right;
			display: block;
			width: 27px;
			height: 26px;
		}
		
		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.collapse{
			float: left;
			border: 0;
		}
				
		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p a {
			display: block;
			width: 27px;
			height: 26px;
			text-indent: -9999px;
		}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.collapse a.expanded {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.collapse a.collapsed {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.previous a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.next a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.zoom a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.drag a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.anastatica a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.fenomeni a {}
    		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.trascrizione a {}
		
	.boxViewContainer div.box div.boxContent div.widget div.widgetHeader h3 {
		display: block;
		line-height: 28px;
		font-size: 12px;
		padding-left: 30px;
	}


	.boxViewContainer div.box div.boxContent div.widget div.widgetContent.collapsed { display: none; }
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent.expanded { display: block; }

	/* Formattazione generica widget content */
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent {
		padding: 10px;
		font-size: 12px;
	}
	
	/* Formattazione generica tag P dentro al widget content */
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent p{
		line-height: 20px;
		padding: 0 0 15px 0;
	}
	
	/* Formattazione generica tag IMG dentro al widget content */
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent img{
	}
	
	/* Formattazione interna ai WIDGET CONTENT */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent {
		font-size: 12px;
		line-height: 20px;
	}
	.boxViewContainer div.box div.boxContent div.widgetContent div.widgetField {
        margin-bottom: 8px;
    }
    
    .boxViewContainer div.box div.boxContent div.myDoniWidget div.widgetContent div.widgetField {
        border-bottom: 1px solid #d7d2c6;
    }
    
    /* SIMONE: aggiunto per far andare a capo tutte e due le span dei fields della scheda immagine */ 
    .boxViewContainer div.box div.boxContent div.widgetContent div.widgetField span.field_title {
        display:block;
    }
	.boxViewContainer div.box div.boxContent div.widgetContent div.widgetField div.field_content.expanded {
	    display:block;
    }
	.boxViewContainer div.box div.boxContent div.widgetContent div.widgetField div.field_content.collapsed {
	    display:none;
    }

	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div, .boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent span {
		line-height: 20px;
	}
	
	/* Formattazione testi trascrizioni */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head span,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head span,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head span a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head span a {
		font-size: 14px;
	}
	
	/* Nomi dialoganti */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.func_character
	{
		font-weight: bold;
		font-variant: small-caps;
	}
	
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.image-keyword {
		font-size: 14px;	
	}

	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.seg-title {
	}

	/* Titolo Opera */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent span.tr_title
	{
		font-style: italic;
	}
	
	/* SIMONE 06/01: link quotations_rewriting (riscritture), dentro le trascrizioni. Attivi (cliccabili) se il box e' highlight */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight a.quotation_link {
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight a.quotation_link:hover {
		cursor: default;
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight.selected a.quotation_link {
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight.selected a.quotation_link:hover {
		cursor: pointer;
	}

	
	/* SIMONE 20/12: aggiunto dopo l'introduzione di IMT nel frontend del doni */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.image-keyword.highlight,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.image-keyword:hover {
	}
	
	/* Margini per le immagini dentro al testo delle trascrizioni */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription img {
		margin: 10px 0;
	}
	
	.boxViewContainer div.box div.boxContent div.widgetContent div span.field_title {
		font-size: 12px;
		line-height: 20px;
		padding-left: 15px;
	}
	
	/* Icona expand collapse dei titoli INTERNI ai widget */
	.boxViewContainer div.box div.boxContent div.widgetContent div span.field_title.expanded {
		background-position: 0px 3px;
		background-repeat: no-repeat;
	}
	
	.boxViewContainer div.box div.boxContent div.widgetContent div span.field_title.collapsed {
		background-position: 0px 3px;
		background-repeat: no-repeat;
	}
	
	/* Icona expand collapse dei titoli INTERNI ai widget myDoni */
	.boxViewContainer div.box div.boxContent div.myDoniWidget div.widgetContent div span.field_title.expanded, .boxViewContainer div.box div.boxContent div.myDoni div.widgetContent div span.field_title.expanded {
		background-position: 0px 5px;
		background-repeat: no-repeat;
	}
	
	.boxViewContainer div.box div.boxContent div.myDoniWidget div.widgetContent div span.field_title.collapsed, .boxViewContainer div.box div.boxContent div.myDoni div.widgetContent div span.field_title.collapsed {
		background-position: 0px 5px;
		background-repeat: no-repeat;
	}
	
	/* Formattazione lista */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent ul {
		list-style: none;
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent ul li {
		background: transparent url(images/list/list_image.gif) center left no-repeat;
		padding-left: 12px;
	}
	
	/* Formattazione bibliografia */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.image-bibliography {
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.image-bibliography span.bibl_title{
	}
	
/* Widget */
div.box.collapsed div.boxCollapsedHeader, 
div.box.collapsed div.boxCollapsedContent,
div.box.expanded div.boxContent,
div.box.expanded span.boxHeaderTitle {
	display: block;
}

div.box.expanded div.boxCollapsedHeader, 
div.box.expanded div.boxCollapsedContent,
div.box.collapsed div.boxContent,
div.box.collapsed h3.boxHeaderTitle {
	display: none;
}



/*
******************************************
Risultati di ricerca - Index box
******************************************
*/
div.box.index div.boxContent {
}
	div.box.index div.boxContent ul {
		list-style-type: none;
		margin: 0 0 0 0;
	}
	div.box.index div.boxContent ul li{
	}
	
	div.box.index div.boxContent ul li div.box_index_node {
		position: relative;
	}
	
	div.box.index div.boxContent ul li div.box_index_node h3{
		height: 28px;
		display: block;
		line-height: 28px;
		font-size: 12px;
		border-bottom: 1px solid #fff;
		padding-left: 35px;
		z-index: 1000;
	}
	
	div.box.index div.boxContent ul li div.box_index_node h3 a{
		font-size: 12px;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools {
		position: absolute;
		width: 100%;
		height: 28px;
		top:0;
		left:0;
		z-index: 0;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.vista{
		display: none;
	}
	
	/* Swithcer tra vista Tree/List */
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.list p.vista, div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.tree p.vista {
		display: block;
		text-indent: -9999px;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.list p.vista a{
		display: block;
		width: 28px;
		height: 28px;
		text-indent: -9999px;
	}

	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.tree p.vista a{
		display: block;
		width: 28px;
		height: 28px;
		text-indent: -9999px;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p {
		float: right;
		display: block;
		width: 27px;
		height: 28px;
		z-index: 0;
	}
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse{
		float: left;
		border: 0;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse {
		position: absolute;
		left: 15px; top: 6px;
		width: 15px;
		height: 15px;
	}
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse a{
		display: block;
		width: 15px;
		height: 15px;
		text-indent: -9999px;
		z-index: 0;
	}
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse a.collapsed {
	}
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse a.expanded {
	}
	
		/* Secondo livello */
		div.box.index div.boxContent ul li ul li div.box_index_node h3{
			font-size: 12px;
			padding-left: 45px;
		}
		div.box.index div.boxContent ul li ul li div.box_index_node h3 a { 
			font-size: 12px;
		}
		
		div.box.index div.boxContent ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse {
			left: 25px;
		}
		div.box.index div.boxContent ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.collapsed {
		}
		div.box.index div.boxContent ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.expanded {
		}	
			
			/* Terzo livello */
			div.box.index div.boxContent ul li ul li ul li div.box_index_node h3{
				font-size: 11px;
				padding-left: 55px;
			}
			div.box.index div.boxContent ul li ul li ul li div.box_index_node h3 a {
				font-size: 11px;
			}
			
			div.box.index div.boxContent ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse {
				left: 35px;
			}
			div.box.index div.boxContent ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.collapsed {
			}
			div.box.index div.boxContent ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.expanded {
			}
			
		
				/* Quarto livello */
				div.box.index div.boxContent ul li ul li ul li ul li div.box_index_node h3{ padding-left: 65px;}
				div.box.index div.boxContent ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 45px;}
				/* Quinto livello */
				div.box.index div.boxContent ul li ul li ul li ul li ul li div.box_index_node h3{ padding-left: 75px;}
				div.box.index div.boxContent ul li ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 55px;}
				/* Sesto livello */
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li div.box_index_node h3{ padding-left: 85px;}
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 65px;}
				/* Settimo livello */
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li ul li div.box_index_node h3{ padding-left: 95px;}
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 75px;}
	
	
	
	/* Foglie ! */
	div.box div.boxContent div.box_index_leaf {
		padding: 10px 15px;
	}
		div.box div.boxContent div.box_index_leaf h4 {
			font-size: 14px;
			margin-bottom: 3px;
		}
		div.box div.boxContent div.box_index_leaf h4 a {
		}
		div.box div.boxContent div.box_index_leaf h4 a:hover {
		}
		div.box div.boxContent div.box_index_leaf p {
			font-size: 11px;
		}
		
		/* SIMONE 03/01: thumbnails negli indici .... sistemare! */
		div.box div.boxContent div.indexThumb {
			padding: 5px;
			float: left;
			position: relative;
			width: 70px;
			text-align: center;
			clear:both;
		}
		div.box div.boxContent div.indexThumb img {
			height: 40px;
		}
		div.box div.boxContent ul li div.indexThumb { padding-left: 15px; }
		div.box div.boxContent ul li  ul li div.indexThumb { padding-left: 25px; }
		div.box div.boxContent ul li  ul li  ul li div.indexThumb { padding-left: 35px; }
		div.box div.boxContent ul li  ul li  ul li  ul li div.indexThumb { padding-left: 45px; }
		div.box div.boxContent ul li  ul li  ul li  ul li  ul li div.indexThumb { padding-left: 55px; }
		
		
	/* Indentazione in base al livello */
	div.box div.boxContent ul li div.box_index_leaf { padding-left: 15px; }
	div.box div.boxContent ul li  ul li div.box_index_leaf { padding-left: 25px; }
	div.box div.boxContent ul li  ul li  ul li div.box_index_leaf { padding-left: 35px; }
	div.box div.boxContent ul li  ul li  ul li  ul li div.box_index_leaf { padding-left: 45px; }
	div.box div.boxContent ul li  ul li  ul li  ul li  ul li div.box_index_leaf { padding-left: 55px; }


/* Questo sta dentro a div.box div.boxContent div.widgetHeader */
/*
Finestra con la lista dei fenomeni che possono essere attivati e disattivati
*/
div.fenomeni.hidden {
	display:none;
}
	div.fenomeni {
		z-index: 10;
		/* padding: 6px; */
	}
	div.fenomeni ul {
		margin: 0; padding: 0;
		list-style: none;
	}
	div.fenomeni ul li {
		margin: 0;
		padding: 6px;
		font-size: 12px;
		text-transform: uppercase;
	}
	div.fenomeni ul li a {
		font-size: 12px;
	}
		
		div.fenomeni ul li ul {
			margin: 0;
			padding: 3px;
			border: none;
			text-transform: none;
			font-weight: normal;
		}
		
		div.fenomeni ul li ul li {
			margin: 0; padding: 0;
			border: none;
			font-size: 11px;
			text-transform: none;
		}
		
		div.fenomeni ul li ul li a {
			font-size: 11px;
			text-transform: none;
			margin: 0;
			padding: 3px;
			display: block;
		}
		
	div.fenomeni a.selected {
		font-weight: bold;
	}
	
/*  Questo e' nella div.box div.boxContent div.widgetContent. Viene aggiunta la classe
    selected alle span.highlight
 */
span.highlight.selected {}


/*
******************************************
Homepage o Introduzione
******************************************
*/
div.intro {
}

div.intro h4 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 15px;
}

div.intro h5 {
	font-size: 18px;
	margin-bottom: 10px;
}

div.intro h6.top_subtitile {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}

div.intro h6 {
}

div.intro p img {
	float: left;
	margin: 0 15px 15px 0;
}

div.intro p {
	font-size: 14px;
	line-height: 22px;
}

div.intro p.small {
	font-size: 11px;
}

div.intro p b, div.intro p strong, div.intro p em, div.intro p i{
	font-size: 14px;
}

div.intro p a {
}

div.intro p a:hover {
}

div.intro ul.home_list {
	list-style: none;
	list-style-position: inside;
	margin: 10px;
	line-height: 30px;
}

div.intro ul.home_list li {
	font-size: 14px;
	line-height: 24px;
}

div.intro ul.home_list li span{
	font-size: 14px;
}

div.intro ul.small, div.intro ul.small li, div.intro ul.small li span {
	font-size: 11px;
}


/* Simone 29/07/10: drag sotto IE */ 
div.boxDragHandle {
    cursor: move;
    border: 0;
    z-index: 1000;
}


/*
******************************************
MyDony & Notebooks
******************************************
*/

/*
!!! Estrapolare i colori e metterli in style.css !!!
*/

/*
Box: MyDoni
Widget: Login
Form di login in box MyDoni
*/
div#myDoniLoginBox label
{
	float: left;
	font-size: 12px;
	width: 80px;
	padding: 3px 0 0 0;
	margin: 0 0 10px 0;
}

div#myDoniLoginBox input, div#myDoniLoginBox textarea
{
	width: 180px;
	padding: 3px;
	margin: 0 0 10px 0;
	font-size: 11px;
}

div#myDoniLoginBox button
{
	margin: 0 0 15px 80px;
	font-size: 11px;
	text-transform: uppercase;
	padding: 4px 3px 2px 3px;
	cursor: pointer;
}

div#myDoniLoginBox br
{
	clear: left;
}

div#myDoniLoginBox p
{
	margin: 0 0 5px 80px;
}

div#myDoniLoginBox p a
{
	font-size: 10px;
	text-decoration: underline;
}

/*
Box: MyDoni
Widget: I Miei Notebbook, Notebook Preferiti
Elementi del BOX MyDoni
*/
/* Logout Button */
div.myDoniWidget button.logout
{
	margin: 10px 0 5px 0;
	font-size: 12px;
	background: transparent;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

div.myDoniWidget input.my_doni_notebook_title
{
	width: 250px;
	padding: 3px;
	margin: 10px 0 10px 0;
	font-size: 11px;
}

div.myDoniWidget p.createNotebook
{
	margin: 23px 0 14px 0;
}

div.myDoniWidget p.addNotebook
{
	margin: 10px 0 0px 0;
	font-size: 12px;
}

div.myDoniWidget p.createNotebook a, div.myDoniWidget p.createNotebook a:hover
{
	font-size: 12px;
	background: transparent;
	font-weight: bold;
	text-transform: uppercase;
}

/* Elenco dei notebook in box myDoni > I miei preferiti*/
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList span.notebook_title, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList span.notebook_title /* Titolo sensibile per collapse/expand */
{
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
}


/* Nota */
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_note, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_note
{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}

/* Autore */
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_author, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_author
{
	font-size: 11px;
	font-style: italic;
	margin-bottom: 5px;
}
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_author span, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_author span
{
	font-size: 11px;
	font-style: italic;
}

div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_info, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_info
{
	font-size: 11px;
	margin-bottom: 5px;
}
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_info span, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_info span
{
	font-size: 11px;
}

div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_links, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_links
{
	margin-bottom: 5px;
}

div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_links a, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_links a
{
	font-size: 11px;
}


/*
Box: Specifico notebook
Widget: Note presenti nel notebook
Box contenente il notebook selezionato (es."Mio Notebook")
*/
/* Singolo div per ogni ntebook */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.single_notebook
{
    margin-bottom: 8px;
    padding-bottom: 8px;
}

/* Titolo con icona collapse expand */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent span.notebook_title
{
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
	line-height: 20px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position:0 0;
}
/* Data */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_date
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
}
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_date span
{
	font-size: 10px;
}
/* Testo Nota */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_text
{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}
/* Links nota */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_links, div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_links a
{
	font-size: 11px;
}



/*
Box: Di contenuto qualsiasi (Trascrizione, Illustrazione, Anastatica ...)
Widget: I Miei Notebook, Notebook Preferiti
*/
div.box div.boxContent div.widget.myDoni div.widgetContent span.notebook_title
{
	font-weight: bold;
	font-size: 13px;
}
div.box div.boxContent div.widget.myDoni div.widgetContent div.note_date
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
}
div.box div.boxContent div.widget.myDoni div.widgetContent div.note_date span
{
	font-size: 10px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent div.note_text
{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent div.note_links, div.box div.boxContent div.widget.myDoni div.widgetContent div.note_links a
{
	font-size: 11px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent div.single_note
{
	margin-bottom: 8px;
	padding-bottom: 8px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent p.createNote a
{
	display: block;
	margin: 20px 0 15px 0;
	font-size: 12px;
	background: transparent;
	font-weight: bold;
	text-transform: uppercase;
}




/*
******************************************
POP UP
UI JQUERY
******************************************
*/
div.ui-dialog h3
{
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 8px;
}

div.ui-dialog ul.form
{
	margin: 0;
	padding: 0;
	list-style: none;
}

div.ui-dialog ul.form li
{
	padding: 0;
	margin: 0 0 8px 0;
}

div.ui-dialog ul.form li.type
{
}
div.ui-dialog ul.form li.type span
{
}

div.ui-dialog ul.form li.date
{
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
}

div.ui-dialog ul.form li.date span
{
}

div.ui-dialog ul.form li label
{
	margin: 0 8px 0 0;
	float: left;
}

div.ui-dialog ul.form li input
{
	padding: 3px;
	font-size: 11px;
}

div.ui-dialog ul.form li select
{
	padding: 3px;
	font-size: 12px;
	outline: none;
}

div.ui-dialog ul.form li textarea
{
	padding: 3px;
	border: 1px solid #d7d2c6;
	font-size: 11px;
	color: #555;
	height: 120px;
}

div.ui-dialog ul.buttons
{
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}

div.ui-dialog ul.buttons li
{
	float: left;
	margin: 0 8px 0 0;
	padding: 0;
}

div.ui-dialog ul.buttons li button, div.ui-dialog ul.form li button
{
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

div.ui-dialog ul.buttons li a
{
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0 2px;
	cursor: pointer;
	display: block;
	height: 21px;
	line-height: 21px;
	text-align: center;
}
div.ui-dialog ul.buttons li a:hover
{
	text-decoration: none;
}









/*
Fine
*/