body {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
  color: #3d4e86;
}

#dyno-title {
    padding-left: 10px;
    color:#493E35;
    font-size:18px;
}

#dyno-attributes {
    display: block;
    height: 800px;
    width: 800px;
    padding: 10px 20px 10px 20px;
    -moz-border-radius:    30px;
    -webkit-border-radius: 30px;
    border-radius:         30px;
    background-color: #a19284;
    line-height: 2em;
    overflow: auto;
}

.dyno-attribute {
    width: 100%;
    margin: 5px 0 5px 0;
}

.dyno-name {
    display: block;
    width: 250px;
    float: left;
    overflow: hidden;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    background-color: #fff;
    padding: 0 5px 0 5px;
}

.dyno-value {
    display: block;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    background-color: #e7e0d8;
    padding: 0 10px 0 265px;
}

#loading {
    display: block;
    position:fixed;
    left:0;
    top: 0;
    -moz-border-radius:    30px;
    -webkit-border-radius: 30px;
    border-radius:         30px;
    height: 800px;
    width: 800px;
    padding: 10px 20px 10px 20px;
    background-image:url("../images/transparent.png");
}

#loading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;

}