body {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
  color: #3d4e86;
}

#dyno-title {
    color:#493E35;
    font-size:18px;

    font-weight: bold;
    border: 1px solid #493e35;
    -moz-border-radius:    6px;
    -webkit-border-radius: 6px;
    border-radius:         6px;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    margin-right: 180px;
    margin-bottom: 5px;
}

#dyno-attributes {
    display: block;
    height: 800px;
    width: 800px;
    padding: 10px 20px 10px 20px;
    -moz-border-radius:    30px;
    -webkit-border-radius: 30px;
    border-radius:         30px;
    background-color: #a19284;
    line-height: 1.8em;
    overflow: auto;
}

.dyno-attribute {
    width: 100%;
    margin: 5px 0 5px 0;
}

.dyno-name {
    display: block;
    width: 250px;
    height: 20px;
    float: left;
    overflow: hidden;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
    background-color: #fff;
    padding: 0 5px 0 5px;
    margin: 2px;
}

.dyno-value {
    border: 1px solid #493e35;
    display: block;
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
    border-radius:         8px;
    background-color: #e7e0d8;
    padding: 0 10px 0 265px;
}

.dyno-value img {
    border: 1px solid #493e35;    
    margin: 2px;
}

#dyno-loading {
    display: block;
    position:fixed;
    left:0;
    top: 0;
    -moz-border-radius:    30px;
    -webkit-border-radius: 30px;
    border-radius:         30px;
    height: 800px;
    width: 800px;
    padding: 10px 20px 10px 20px;
    background-image:url("../images/transparent.png");
}

#dyno-loading img {
    display: block;
    position: absolute;
    top: 400px;
    left: 350px;
}

#dyno-loading p {
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 360px;
    left: 315px;
}

#thanks {
    color: #493e35;
    font-weight: bold;
    border: 1px solid #493e35;
    -moz-border-radius:    6px;
    -webkit-border-radius: 6px;
    border-radius:         6px;
    float: right;
    height: 15px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 5px 8px 5px;
}

#thanks img {
    vertical-align: middle;
    border: 0;
    padding-bottom: 4px;
}

#sources {
    padding-left: 10px;
    color:#493E35;
    line-height: 1.5em;

    border: 1px solid #493e35;
    -moz-border-radius:    6px;
    -webkit-border-radius: 6px;
    border-radius:         6px;
    background-color: #e7e0d8;

}

#sources p {
    display: inline;
    font-weight: bold;
    color:#493E35;
    line-height: 1.5em;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#dyno-sources-list {
    height: 30px;
    display: inline;
}

#dyno-sources-list a {
    margin-right: 5px;
}

.dyno-onload-show {
    display: none;
}

.dyno-attribute {
    display: none;
}
